#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#top-button::before {
    content: "↑";
}